@media (max-width: 1330px){
    .container {
        width: 1000px;
    }
    .header__nav {
        flex-direction: column;
        align-items: center;
    }
    .header__nav-logo {
        margin-bottom: 30px;
    }
    .header__list {
        margin-bottom: 60px;
    }
    .section2 {
        flex-direction: column;
    }
    .section2__block1 {
        width: 636px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
    }
    .section2__block2 {
        width: 636px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 1150px) {
    .container {
        width: 900px;
    }
    .header__content {
        flex-direction: column;
    }
    .header__box2 {
        padding-bottom: 50px;
        margin-right: 24px;
    }
    .header__sub-block2 {
        margin-top: 50px;
    }
    .main__block {
        justify-content: center;
    }
    .footer__block1 {
        margin-right: 50px;
    }
    .footer__block2 {
        margin-right: 50px;
    }
}
@media (max-width: 665px) {
    .container {
        width: 700px;
    }
    .header__sub-block2 {
        flex-direction: column;
    }
    .header__text {
        margin-top: 20px;
    }
    .main__block {
        justify-content: center;
    }
}